* {
    box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.buttonSection,
.createPasswordSection {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer,
.createPasswordSection
 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}



button, 
input 
 {
  width: 50%;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 4px;
}



.remove {
  display: none;
}

.displayNone {
  display: none;
}








button:hover { 
  scale: 1.1;

}

#passwordStrength {
    height: 10px;
    width: 800px;
    background-color: lightgrey;
}

.myBar {
    width: 0%;
    height: 100%;
    background-color: green;

}