* {
    box-sizing: border-box;
}

.container {
  background-color: #f1f1f1;
  padding: 20px;
}

button {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.remove {
  display: none;
}

button:hover { 
  scale: 1.1;

}

#passwordStrength {
    height: 10px;
    width: 800px;
    background-color: lightgrey;
}

.myBar {
    width: 0%;
    height: 100%;
    background-color: green;

}